main {
  background: #f0e6df;
  color: #dbaca3;

  .first-big-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 75vh;

    .img-container {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        border: 2px solid #dbaca3;
        border-radius: 15px;
        width: 25rem;
        height: 30rem;
      }
    }

    .inter-container {
      width: 50%;
      margin-top: 2rem;

      header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
      }

      section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        margin-bottom: 2rem;
        gap: 11px;

        ul li{
          margin-bottom: 1rem;
        }
      }
    }
  }
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dbaca3;
    color: #f0e6df;
    width: 100%;
    max-width: 100%;
    height: 50vh;

    h2 {
      padding-bottom: 2rem;
    }

    .big-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 7rem;


      .writted-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .contact-container {
        width: 75%;
        padding-bottom: 1rem;
      }

      .separador-container {
        width: 25rem;
        border: 1px solid #f0e6df;
      }

      .inter-container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
      }

      button {
        margin-top: 0.2rem;
        border: none;
        background-color: #f0e6df;
        color: #dbaca3;
        border-radius: 10px;
        height: 2rem;
        width: 11rem;
        font-weight: 700;
      }

      button:hover {
        background-color: #e2d5c7;
        transform: scale(1.05);
      }

      button:active {
        transform: scale(0.95);
      }

      a {
        outline: none;
        text-decoration: none;
        color: inherit;
      }

      .atendimento-description {
        font-weight: 500;
      }

      span.name {
        font-size: 20px;
      }

      img {
        width: 24px;
        height: 24px;
      }

      .img-container {
        width: 30%;

        img {
          border: 2px solid #f0e6df;
          border-radius: 15px;
          width: 15rem;
          height: 20rem;
        }
      }

      .divider-main {
        height: 3rem;
        background-color: #f0e6df;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
