<app-header
  aboutBtnText="Sobre Mim"
  primaryBtnText="Home"
  secondaryBtnText="Sobre"
  tertiaryBtnText="Atendimentos"
  quaternaryBtnText="Terapias"
  serviceAnaliseCorporalBtnText="Análise Corporal"
  serviceHipnoterapiaBtnText="Hipnoterapia"
  serviceTravasMentaisBtnText="Travas Mentais"
  serviceTrgBtnTxt="TRG"
></app-header>
<app-whatsapp-button></app-whatsapp-button>
<main>
  <div class="inter-container">
    <header>
      <h1>Minha Jornada como Terapeuta</h1>
    </header>

    <section>
      <h3>Especializações e Certificações.</h3>
      <ul>
        <li>
          <strong>Especialista em Terapia de Reprocessamento Generativo (TRG):</strong> Com certificação internacional pelo IBFT, que me capacita a trabalhar com técnicas avançadas para identificar e transformar padrões emocionais.
        </li>
        <li>
          <strong>Análise Corporal pelo IBFT:</strong> Um conhecimento que permite compreender as expressões e linguagens do corpo como chave para o bem-estar emocional.
        </li>
        <li>
          <strong>Psicopedagogia Clínica e Institucional:</strong> Aliando métodos para lidar com as barreiras ao aprendizado e às questões comportamentais.
        </li>
        <li>
          <strong>Terapeuta de Alta Performance pela UNIFAST:</strong> Com técnicas de neurociência aplicadas ao desenvolvimento pessoal e à potencialização de resultados.
        </li>
        <li>
          <strong>Licenciatura Plena em Letras pela UECE:</strong> Que fortalece minha base humanística e comunicativa, essencial para conduzir processos terapêuticos com empatia e clareza.
        </li>
      </ul>
    </section>

    <section>
      <h3>Minha Abordagem Terapêutica</h3>
      <p>
        Cada uma dessas formações contribui para uma abordagem terapêutica completa, que respeita seu ritmo e considera cada aspecto de sua vida. Com essa experiência e dedicação, estou aqui para ajudar você a alcançar suas metas emocionais e construir uma versão mais equilibrada e realizada de si mesmo.
      </p>
    </section>
  </div>
</main>
<app-footer></app-footer>
