<app-header
  aboutBtnText="Sobre Mim"
  primaryBtnText="Home"
  secondaryBtnText="Sobre"
  tertiaryBtnText="Atendimentos"
  quaternaryBtnText="Abordagens"
  serviceAnaliseCorporalBtnText="Análise Corporal"
  serviceHipnoterapiaBtnText="Hipnoterapia"
  serviceTravasMentaisBtnText="Travas Mentais"
  serviceTrgBtnTxt="TRG"
></app-header>
<app-whatsapp-button></app-whatsapp-button>
<main>
  <div class="first-big-container">
    <div class="img-container">
      <img src="/assets/png/apresentation-photo.jpeg" alt="Imagem de fundo decorativa para a seção de contato">
    </div>
    <div class="inter-container">
      <header>
        <h1>Sobre mim</h1>
      </header>

      <section>
        <h3>Formação e Experiência.</h3>
        <p>Minha jornada como terapeuta é sustentada por um conjunto de especializações e certificações de renome:</p>
        <ul>
          <li>
            <strong>Especialista em Terapia de Reprocessamento Generativo (TRG):</strong> Com certificação internacional pelo IBFT, que me capacita a trabalhar com técnicas avançadas para identificar e transformar padrões emocionais.
          </li>
          <li>
            <strong>Análise Corporal pelo IBFT:</strong> Um conhecimento que permite compreender as expressões e linguagens do corpo como chave para o bem-estar emocional.
          </li>
          <li>
            <strong>Psicopedagogia Clínica e Institucional:</strong> Aliando métodos para lidar com as barreiras ao aprendizado e às questões comportamentais.
          </li>
          <li>
            <strong>Terapeuta de Alta Performance pela UNIFAST:</strong> Com técnicas de neurociência aplicadas ao desenvolvimento pessoal e à potencialização de resultados.
          </li>
          <li>
            <strong>Licenciatura Plena em Letras pela UECE:</strong> Que fortalece minha base humanística e comunicativa, essencial para conduzir processos terapêuticos com empatia e clareza.
          </li>
        </ul>
        <p>Cada uma dessas formações contribui para uma abordagem terapêutica completa, que respeita seu ritmo e considera cada aspecto de sua vida. Com essa experiência e dedicação, estou aqui para ajudar você a alcançar suas metas emocionais e construir uma versão mais equilibrada e realizada de si mesmo.</p>
      </section>
    </div>
  </div>
  <section id="contact" class="contact-section" aria-labelledby="contact-heading">
    <h2 id="contact-heading">Contato</h2>

    <div class="big-container">
      <div class="writted-container">
        <div class="contact-container">
          <div class="inter-container">
            <span class="name">Ciomara O. Martins</span>
          </div>
          <div class="inter-container">
            Terapeuta Emocional - TRG<br />CITRG: 10.952
          </div>
        </div>

        <div class="contact-container">
          <div class="inter-container">
            <img src="https://img.icons8.com/?size=100&id=85088&format=png&color=f0e6df" alt="Ícone do WhatsApp">
            <a
              target="_blank"
              href="https://api.whatsapp.com/send?phone=5521988249268&text=Olá, Ciomara! Vi seu site e gostaria de saber mais sobre seu trabalho."
              aria-label="Número do WhatsApp da Ciomara">+55 21 988249268</a>
          </div>

          <div class="inter-container">
            <img src="https://img.icons8.com/?size=100&id=86840&format=png&color=f0e6df" alt="Ícone do Email">
            psicomara10&#64;gmail.com
          </div>

          <div class="inter-container">
            <img src="https://img.icons8.com/?size=100&id=85154&format=png&color=f0e6df" alt="Ícone do Instagram">
            <a target="_blank" href="https://www.instagram.com/maraterapiaonline">maraterapiaonline</a>
          </div>
        </div>

        <div class="contact-container">
          <div class="separador-container"></div>
        </div>

        <div class="contact-container">
          <div class="inter-container">
            <span class="atendimento-description">Atendimento 100% online no conforto da sua casa!</span>
          </div>
        </div>

        <div class="contact-container">
          <div class="inter-container">
            <button>
              <a href="https://api.whatsapp.com/send?phone=5521988249268&text=Olá, Ciomara! Vi seu site e gostaria de saber mais sobre seu trabalho.">
                <span>Agenda já a sua consulta!</span>
              </a>
            </button>
          </div>
        </div>

        <div class="contact-container">
          <div class="separador-container"></div>
        </div>
      </div>

      <div class="img-container">
        <img src="/assets/png/foto-nova-contato.jpg" alt="Imagem de fundo decorativa para a seção de contato">
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
