<app-header
  primaryBtnText="Home"
  secondaryBtnText="Sobre"
  tertiaryBtnText="Atendimentos"
  quaternaryBtnText="Terapias"
  serviceAnaliseCorporalBtnText="Análise Corporal"
  serviceHipnoterapiaBtnText="Hipnoterapia"
  serviceTravasMentaisBtnText="Travas Mentais"
  serviceTrgBtnTxt="TRG"
  themeAnxietyDepressionBtnTxt= "Ansiedade e Depressão"
  themeSelfEsteemConfidenceBtnText = "Autocuidado e Autoestima"
  themeBurnoutSyndromeBtnText = "Burnout e Sindrome do Pânico"
  themeMaritalCrisisBtnText = "Crise Conjugal"
></app-header>
<app-whatsapp-button>
</app-whatsapp-button>
<main>
  <div class="inter-container">
    <section>
      <h1>Análise Corporal</h1>
      <h2>Análise Corporal: O que é? Como funciona?</h2>
      <p>A análise corporal é uma ferramenta de autoconhecimento inovadora, onde o formato do corpo explica que tipo de mente uma pessoa tem e revela as verdades por trás dos problemas que ela esteja enfrentando, já apresentando resultados desde a primeira sessão.</p>
    </section>

    <section>
      <h2>Benefícios da Análise Corporal</h2>
      <ul>
        <li>Ter um autoconhecimento profundo, que traz leveza e maior habilidade na resolução de problemas.</li>
        <li>Entender mais sobre o seu comportamento e das pessoas com quem você convive, diminuindo expectativas e brigas.</li>
        <li>Entender se você está na profissão certa ou não.</li>
        <li>Entender porque você não consegue firmar nenhum relacionamento saudável.</li>
        <li>Descobrir o que te impede de ter a vida que você sempre sonhou.</li>
        <li>Ajudar a melhorar os conflitos de relacionamento com pai, mãe, irmãos, etc.</li>
        <li>Entender dificuldades para subir na carreira ou mudar de profissão.</li>
        <li>Descobrir o que te faz estar acima do peso e não conseguir emagrecer.</li>
        <li>Qualquer problema pode ser desvendado através do que o formato do seu corpo conta sobre a sua mente.</li>
      </ul>
    </section>
  </div>
</main>
<app-footer></app-footer>
