<app-header
  primaryBtnText="Home"
  secondaryBtnText="Sobre"
  tertiaryBtnText="Atendimentos"
  quaternaryBtnText="Terapias"
  serviceAnaliseCorporalBtnText="Análise Corporal"
  serviceHipnoterapiaBtnText="Hipnoterapia"
  serviceTravasMentaisBtnText="Travas Mentais"
  serviceTrgBtnTxt="TRG"
  themeAnxietyDepressionBtnTxt= "Ansiedade e Depressão"
  themeSelfEsteemConfidenceBtnText = "Autocuidado e Autoestima"
  themeBurnoutSyndromeBtnText = "Burnout e Sindrome do Pânico"
  themeMaritalCrisisBtnText = "Crise Conjugal"
></app-header>
<app-whatsapp-button>
</app-whatsapp-button>
<app-footer></app-footer>
