<section id="home" class="home-section" role="banner" aria-label="Seção inicial">
</section>

<app-whatsapp-button aria-label="Botão de WhatsApp"></app-whatsapp-button>

<header>
  <nav aria-label="Menu principal">
    <app-header
      primaryBtnText="Home"
      secondaryBtnText="Sobre"
      tertiaryBtnText="Atendimentos"
      quaternaryBtnText="Abordagens"
      quinaryBtnText="Depoimentos"
      senaryBtnText="Consultório"
      septnaryBtnText="Contatos"
      role="navigation"
    ></app-header>
  </nav>
</header>

<main>
  <section id="about" class="apresentation-section" aria-labelledby="about-heading">

    <div class="h2-mobile">
      <h3>Sobre Mim</h3>
    </div>

    <div class="big-container">
      <div class="video-apresentantion">
        <video controls>
          <source src="assets/video/video-about-me.MP4">
          Seu navegador não suporta a tag de vídeo.
        </video>
      </div>
      <div class="apresentation-text">
        <h2 class="h2-desktop">
          Sobre Mim
        </h2>

        <p class="p-text-apresentation">
          Olá, sou Ciomara Osterno Martins, sou terapeuta emocional e apaixonada por transformar vidas através da terapia.
          Com uma trajetória sólida de mais de 18 anos e dezenas de atendimentos, dedico minha carreira ao profundo entendimento das emoções
          e do comportamento humano. Minha missão é ajudar você a superar bloqueios emocionais, construir autoconfiança e encontrar um caminho
          de equilíbrio e crescimento.
        </p>

        <div class="prof-section">
          <div class="prof-button">
            <button (click)="navigateAboutMe()">
              Saiba mais sobre a minha jornada!
            </button>
          </div>
        </div>
        <div>
          <div class="info-container">
            <div class="info-block">
              <span class="highlight">{{anosAtendimento}}</span><span class="text"> anos</span>
              <p class="description">de atuação</p>
            </div>
            <div class="info-block">
              <span class="highlight">+{{horasAtendimento}}</span><span class="text"> mil</span>
              <p class="description">horas de atendimento</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="cards-service-section" aria-labelledby="services-heading">
    <h2 id="services-heading">Veja alguns temas que posso te ajudar:</h2>
    <div class="menu-expansivel">
      <app-accordion-menu
        tittleTheme="Ansiedade"
        symptomsTheme=" Preocupação excessiva, nervosismo constante, dificuldade em relaxar, sensação de que algo ruim vai acontecer, palpitações, falta de ar ou tremores."
        worryTheme=" Se os sintomas persistirem por semanas, forem intensos ou dificultarem o sono e as atividades diárias."
        role="button"
        aria-expanded="false"
        tabindex="0"
      ></app-accordion-menu>
    </div>
    <div class="menu-expansivel">
      <app-accordion-menu
        tittleTheme="Autoconfiança Baixa"
        symptomsTheme=" Dúvida constante sobre suas habilidades, medo de errar ou falhar, dificuldade em tomar decisões, sentir-se inferior aos outros."
        worryTheme=" Quando esses sentimentos começam a interferir no seu dia a dia, dificultando o trabalho, relacionamentos ou objetivos."
      ></app-accordion-menu>
    </div>
    <div class="menu-expansivel">
      <app-accordion-menu
        tittleTheme="Autoestima Baixa"
        symptomsTheme=" Pensamentos autodepreciativos, evitar desafios por medo de falhar, sensação de não ser bom o suficiente, dificuldade em aceitar elogios."
        worryTheme=" Se essa percepção negativa de si mesmo afeta o bem-estar, os relacionamentos ou impede o desenvolvimento pessoal."
      ></app-accordion-menu>
    </div>
    <div class="menu-expansivel">
      <app-accordion-menu
        tittleTheme="Burnout"
        symptomsTheme=" Exaustão extrema, perda de motivação, irritabilidade, dificuldade em se concentrar, sentimentos de cinismo ou despersonalização no trabalho."
        worryTheme=" Quando o cansaço físico e emocional é constante, mesmo após repouso, e compromete o desempenho no trabalho e na vida pessoal."
      ></app-accordion-menu>
    </div>
    <div class="menu-expansivel">
      <app-accordion-menu
        tittleTheme="Crise Conjugal"
        symptomsTheme=" Falta de comunicação, discussões frequentes, sentimentos de insatisfação no relacionamento, distanciamento emocional, perda de intimidade."
        worryTheme=" Quando os problemas são recorrentes, não são resolvidos ou quando há pensamentos de separação."
      ></app-accordion-menu>
    </div>
    <div class="menu-expansivel">
      <app-accordion-menu
        tittleTheme="Depressão"
        symptomsTheme=" Tristeza persistente, perda de interesse em atividades antes prazerosas, fadiga, alterações no sono e apetite, sentimentos de culpa ou inutilidade, pensamentos suicidas."
        worryTheme=" Se os sintomas durarem mais de duas semanas e afetarem a capacidade de funcionar no dia a dia."
      ></app-accordion-menu>
    </div>
    <div class="menu-expansivel">
      <app-accordion-menu
        tittleTheme="Sindrome do Pânico"
        symptomsTheme=" Ataques de pânico recorrentes com sintomas como taquicardia, falta de ar, sensação de sufocamento, tontura, medo intenso de morrer ou perder o controle."
        worryTheme=" Se os ataques ocorrem frequentemente e afetam a rotina ou levam a um medo constante de ter novos episódios."
      ></app-accordion-menu>
    </div>
  </section>

  <section id="therapy" class="cards-therapy-section" aria-labelledby="therapy-heading">
    <h2 id="therapy-heading">Abordagens Terapeúticas</h2>
    <div class="cards">
      <app-card
        imagePath="https://img.icons8.com/?size=100&id=zYiLBfhJTOHx&format=png&color=dbaca3"
        title="TRG"
        description="Clique para saber mais!"
        buttonName="Clique para saber mais!"
        path="services/trg"
        role="link"
        tabindex="0"
      ></app-card>
      <app-card
        imagePath="https://img.icons8.com/?size=100&id=zYiLBfhJTOHx&format=png&color=dbaca3"
        title="Análise Corporal"
        description="Clique para saber mais!"
        buttonName="Clique para saber mais!"
        path="services/analise-corporal"
      ></app-card>
      <app-card
        imagePath="https://img.icons8.com/?size=100&id=zYiLBfhJTOHx&format=png&color=dbaca3"
        title="Travas Mentais"
        description="Clique para saber mais!"
        buttonName="Clique para saber mais!"
        path="services/travas-mentais"
      ></app-card>
    </div>
  </section>

  <section id="testimonials" class="cards-depoimentos-section" aria-labelledby="testimonials-heading">
    <h2 id="testimonials-heading">Depoimentos de quem já transformou a sua vida</h2>
    <div class="cards">
      <div class="card">
        <app-card-testimonial
          imagePath="https://img.icons8.com/?size=100&id=93331&format=png&color=dbaca3"
          title="Maria Rita"
          subtitle="(Ansiedade)"
          description="Eu gostei muito da terapia que fiz com a Ciomara, com certeza consegui ver muitas mudanças em mim desde quando eu comecei o tratamento. Foi uma grande oportunidade de entender como eu devo olhar para a vida de um modo menos ansioso, mais leve sem dores de traumas do passado. Acho que sinceramente todos deveriam ter essa experiência. Como me ajudou no meu preparo para o vestibular me sintindo agora mais confiante e tranquila para a prova do Enem!"
          buttonName="Clique para saber mais!"
          path="testimonials"
          location="Niterói-RJ"
          aria-label="Depoimento de Maria Rita sobre Ansiedade"
        ></app-card-testimonial>
        <app-card-testimonial
          imagePath="https://img.icons8.com/?size=100&id=93331&format=png&color=dbaca3"
          title="Onizia"
          subtitle="(Burnout)"
          description="Gostaria de agradecer pela terapia (TRG) feita sob sua orientação, Ciomara.
                      O que mais me chamou atenção foi o fato de achar que tudo que estava passando tinha ligação com a família, com o luto, entretanto, fui surpreendida através do reprocessamento, que a raiz tinha haver com um assédio sofrido no trabalho, que na época não dei importância...
                      Outra surpresa se deu ao descobrir que o medo era causado pelo abandono de uma pessoa querida.
                      Hoje me sinto livre dos traumas, do medo, e da dependência emocional. Gratidão 🥰 "
          buttonName="Clique para saber mais!"
          path="testimonials"
          location="Rio de Janeiro - RJ"
        ></app-card-testimonial>
      </div>

      <div class="card">
        <app-card-testimonial
          imagePath="https://img.icons8.com/?size=100&id=93331&format=png&color=dbaca3"
          title="Rose Nunes"
          subtitle="(Transição de Carreira)"
          description="Minha querida Terapeuta🥰. Passando pra te dizer que ter finalizado uma etapa da terapia já posso dizer o quanto tem me feito bem, como pude ficar sofrendo tanto tempo achando que eu não era capaz, que eu não conseguiria, tudo por descobrir que na minha infância as palavras negativas destinadas a mim, os bullying terríveis que sofri e etc etc tantos traumas causados quando criança e até na minha adolescência interferiram tanto no meu modo de viver, se relacionar com pessoas e com o mundo. Terapia é vida e essa terapia de reprocessamento generativo me fez ver o mundo com cor e viver feliz e ser uma nova pessoa .
                       Gratidão por seu atendimento a mim, pela profissional que é👏🏻👏🏻👏🏻👏🏻🙏🏻Deus abençoe sua vida, Mara🥰"
          path="testimonials"
          location="Itaporã - MS"
        ></app-card-testimonial>

        <app-card-testimonial
          imagePath="https://img.icons8.com/?size=100&id=93331&format=png&color=dbaca3"
          title="Sara"
          subtitle="(Relacionamento)"
          description="Essa terapia é uma  ótima ferramenta, foi muito importante para meu autoconhecimento porque vai na raiz do problema. Com técnicas simples, que trabalha no inconsciente. No começo achei que não ia conseguir, mas a Ciomara vai conduzindo, explicando e as coisas vão fluindo. Gostei demais e recomendo. Se permitam, conheçam uma nova maneira de lidar com seu emocional.
                       Muito obrigada pela sua orientação, apoio, dedicação e profissionalismo. Linda missão de vida!"
          path="testimonials"
          location="Fortaleza-CE"
        ></app-card-testimonial>
      </div>

    </div>
    <p>
      * Todos os depoimentos são verídicos e recebidos de clientes reais, com suas expressas autorizações por escrito.
    </p>
  </section>

  <section id="service" class="contact-section" aria-labelledby="therapy-online-heading">
    <div class="video-service">
      <video controls>
        <source src="assets/video/video-consultorio-terapeuta.mp4">
        Seu navegador não suporta a tag de vídeo.
      </video>
    </div>
    <div class="text-service">
      <h2 id="therapy-online-heading">Transforme sua vida com a Terapia Online</h2>
      <p>Prática, segura e eficaz, a terapia online oferece acolhimento e flexibilidade onde você estiver.</p>

      <h3>Benefícios:</h3>
      <ul>
        <li><strong>Conveniência:</strong> cuide de você sem sair de casa.</li>
        <li><strong>Privacidade:</strong> sessões no conforto do seu espaço.</li>
        <li><strong>Resultados:</strong> tão eficaz quanto a terapia presencial.</li>
        <li><strong>Flexibilidade:</strong> atenda sua rotina e conecte-se de qualquer lugar.</li>
        <li><strong>Personalização:</strong> acompanhamento exclusivo e discreto.</li>
      </ul>

      <p><em>Sua transformação começa agora!</em></p>
    </div>
  </section>

  <section id="contact" class="contact-section" aria-labelledby="contact-heading">
      <h2 id="contact-heading">Contato</h2>

      <div class="big-container">
        <div class="writted-container">
          <div class="contact-container">
            <div class="inter-container">
              <span class="name">Ciomara O. Martins</span>
            </div>
            <div class="inter-container">
              Terapeuta Emocional - TRG<br />CITRG: 10.952
            </div>
          </div>

          <div class="contact-container">
            <div class="inter-container">
              <img src="https://img.icons8.com/?size=100&id=85088&format=png&color=f0e6df" alt="Ícone do WhatsApp">
              <a
                target="_blank"
                href="https://api.whatsapp.com/send?phone=5521988249268&text=Olá, Ciomara! Vi seu site e gostaria de saber mais sobre seu trabalho."
                aria-label="Número do WhatsApp da Ciomara">+55 21 988249268</a>
            </div>

            <div class="inter-container">
              <img src="https://img.icons8.com/?size=100&id=86840&format=png&color=f0e6df" alt="Ícone do Email">
              psicomara10&#64;gmail.com
            </div>

            <div class="inter-container">
              <img src="https://img.icons8.com/?size=100&id=85154&format=png&color=f0e6df" alt="Ícone do Instagram">
              <a target="_blank" href="https://www.instagram.com/maraterapiaonline">maraterapiaonline</a>
            </div>
          </div>

          <div class="contact-container">
            <div class="separador-container"></div>
          </div>

          <div class="contact-container">
            <div class="inter-container">
              <span class="atendimento-description">Atendimento 100% online no conforto da sua casa!</span>
            </div>
          </div>

          <div class="contact-container">
            <div class="inter-container">
              <button>
                <a href="https://api.whatsapp.com/send?phone=5521988249268&text=Olá, Ciomara! Vi seu site e gostaria de saber mais sobre seu trabalho.">
                  <span>Agenda já a sua consulta!</span>
                </a>
              </button>
            </div>
          </div>

          <div class="contact-container">
            <div class="separador-container"></div>
          </div>
        </div>

        <div class="img-container">
          <img src="/assets/png/apresentation-photo.jpeg" alt="Imagem de fundo decorativa para a seção de contato">
        </div>
      </div>
  </section>
</main>

<footer aria-label="Rodapé do site">
  <app-footer></app-footer>
</footer>
