main {
  padding-top: 6rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #dbaca3;
  .section{
    padding-bottom: 2rem;
    width: 80%;
    h1{
      padding-bottom: 1rem;

    }
    h2{
      padding-bottom: 1rem;
    }
  }
}

.inter-container {
  width: 80%;
  margin-top: 2rem;
  color: #dbaca3;
}

.inter-container header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
  color: #dbaca3;
}

.inter-container section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin-bottom: 2rem;
  gap: 10px;
  color: #dbaca3;
}

h1, h2 {
  color: #dbaca3;
  text-align: center;
}

ul, ol {
  padding-top: 1rem;
  padding-left: 20px;
  list-style-position: inside;
  margin-left: 20px;
  color: #dbaca3;
  li{
    padding-bottom: 0.3rem;
  }
}
p {
  text-align: justify;
  color: #dbaca3;
}
