@media (max-width: 767px) {
  header {
    position: relative;
    background-color: #dbaca3;
    height: 0.3rem;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    section {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      .mobile-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #dbaca3;
        height: 5rem;

        .logo-header {
          a {
            img {
              height: 25%;
              width: 50%;
            }
          }
        }

        .menu-header {
          button {
            color: #f0e6df;

            img {
              height: 40%;
              width: 40%;
            }
          }
        }
      }

      .desktop-menu {
        visibility: hidden;
        height: 0;
        width: 0;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) {
  header {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: 5rem;
    z-index: 10;
    background-color: #f0e6df;

    section {
      .desktop-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        visibility: visible;
        gap: 12rem;
        background-color: #dbaca3;
        height: 5rem;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

        img {
          height: 30%;
          width: 45%;
        }

        .buttons-header {
          font-weight: 700;

          button {
            font-size: 16px;
            background-color: #dbaca3;
            color: #f0e6df;
            border: 2px solid transparent;
            transition: border 0.2s ease-in-out;
            transition-delay: 0.3s;
          }
            button {
              font-size: 16px;
              background-color: #dbaca3;
              color: #f0e6df;
              border: 2px solid transparent;
              transition: border 0.2s ease-in-out;
              transition-delay: 0.3s;
            }

          button:hover {
            border: 2px solid #f0e6df;
            transition-delay: 0s;
          }
        }
      }

      .mobile-menu {
        visibility: hidden;
        height: 0;
        width: 0;
      }
    }

    section.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 1000;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
  }
}
