@media (max-width: 767px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #dbaca3;
    padding: 25px;
    background-color: #f0e6df;
    height: 25rem;
    width: 17rem;
    box-sizing: border-box;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 1rem;

    h4 {
      color: #dbaca3;
      font-size: 17px;
    }

    p {
      color: #dbaca3;
      font-size: 12px;
      text-align: justify;
    }

    img {
      color: white;
      width: 3.5rem;
      height: 3.5rem;}
  }
}

@media (min-width: 1024px) {
  main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: 2px solid #dbaca3;
      padding: 25px;
      background-color: #f0e6df;
      height: 25rem;
      width: 17rem;
      box-sizing: border-box;
      transition: background-color 0.3s ease, transform 0.2s ease;

      h4 {
        color: #dbaca3;
        font-size: 17px;
      }

      p {
        color: #dbaca3;
        font-size: 12px;
        text-align: justify;
      }

    img {
        color: white;
        width: 3.5rem;
        height: 3.5rem;}
  }
}
