<div class="img-mais-botao">
  <div *ngIf="!isOpen">
    <img src="https://img.icons8.com/?size=100&id=3220&format=png&color=dbaca3">
  </div>
  <div *ngIf="isOpen">
    <img src="https://img.icons8.com/?size=100&id=85458&format=png&color=dbaca3">
  </div>
  <button (click)="toggleContent()" class="botao">
    <strong>
      {{ tittleTheme }}
    </strong>
  </button>
</div>
<div *ngIf="isOpen" class="conteudo">
  <ul>
    <li><strong>Sinais:</strong>{{ symptomsTheme }}</li>
    <li><strong>Quando se preocupar:</strong>{{ worryTheme }}</li>
  </ul>
</div>
