@media (min-width: 768px) and (max-width: 1024px) {
  .home-section {
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-image: url('/assets/png/foto-home-terapeuta-sorrindo-logo-e-letreiro.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #dbaca3;
  }

  main {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 2rem;
    background: #f0e6df;
    color: #dbaca3;

    h2{
      padding-bottom: 2rem;
    }

    .h2-mobile {
      display: none;
    }

    .divider {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f0e6df;
      width: 70%;

      div {
        flex-grow: 1;
        height: 1px;
      }
    }

    #about {
      display: inline-flex;
      width: 80%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #dbaca3;
      padding-top: 6rem;

      h2 {
        padding-bottom: 2rem;
      }

      .h2-mobile {
        display: none;
      }

      .big-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
      }

      .video-apresentantion {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }

      .video-apresentantion video {
        border: 2px solid #dbaca3;
        border-radius: 1rem;
        width: 78%;
        height: auto;
      }

      .apresentation-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        width: 90%;
        margin-bottom: 2rem;
        gap: 1.5rem;

        .p-text-apresentation {
          text-indent: 30px;
          text-align: justify;
          padding-bottom: 20px;
          font-size: 16px;
          width: 70%;
        }

        .prof-section {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 2rem;

          .prof-button {
            display: flex;
            justify-content: center;
            align-items: center;

            button{
              border-radius: 1rem;
              width: 12rem;
              height: 3rem;
              background-color: #f0e6df;
              color: #dbaca3;
              border: 1px solid #dbaca3;
              font-weight: 700;
            }
            button:hover {
              cursor: pointer;
              border: none;
              background-color: #dbaca3;
              color: #f0e6df;
              transform: scale(1.05);
            }

            button:active {
              transform: scale(0.95);
            }
          }

          .prof-container {
            .prof-name {
              font-weight: 700;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
            }
          }

          .prof-description {
            margin-bottom: 5px;
          }
        }
      }

      .info-container {
        display: flex;
        gap: 50px;
      }

      .info-block {
        text-align: center;
      }

      .highlight {
        font-size: 48px;
        font-weight: bold;
        color: #dbaca3;
      }

      .text {
        font-size: 48px;
        font-weight: bold;
        color: #dbaca3;
      }

      .description {
        font-size: 24px;
        margin-top: 5px;
      }
    }

    .cards-service-section {
      width: 100%;
      max-width: 100%;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
      display: flex;
      height: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #dbaca3;
      padding-top: 5rem;
      padding-bottom: 2.5rem;

      h2 {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        padding: 30px;
        font-size: 20px;
        background-color: #f0e6df;
        color: #dbaca3;
        margin: 20px;
        text-align: center;
      }

      .menu-expansivel {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 100%;
        width: 60%;
        background-color: #f0e6df;
        margin-bottom: 0.5rem;
      }
    }

    .cards-therapy-section {
      width: 100%;
      max-width: 100%;
      display: flex;
      height: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 5rem;
      padding-bottom: 2rem;

      h2 {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        padding: 30px;
        font-size: 20px;
        text-align: center;
        background-color: #dbaca3;
        color: #f0e6df;
        margin: 20px;
      }

      .cards {
        display: flex;
        margin: 1rem;
        gap: 0.5rem;
      }
    }

    #testimonials {
      display: flex;
      width: 100%;
      max-width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #dbaca3;
      padding-top: 6rem;
      padding-bottom: 3rem;

      h2 {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        padding: 30px;
        background-color: #f0e6df;
        color: #dbaca3;
        margin-bottom: 20px;
      }

      .cards {
        display: flex;
        flex-direction: column;

        .card{
          display: flex;
          flex-direction: row;
        }
      }

      p{
        width: 80%;
        margin-top: 1rem;
        color: #f0e6df;
      }
    }

    #service {
      display: inline-flex;
      width: 80%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #dbaca3;
      padding-block: 6rem;
      gap: 4rem;

      .video-service {

        overflow: hidden;
      }

      .video-service video {
        width: 70%;
        border: 2px solid #dbaca3;
        border-radius: 15px;
        display: block;
        height: auto;
      }

      .text-service {
        gap: 2rem;
        h2 {
          margin-bottom: 1rem;
        }

        p{
          margin-bottom: 2rem;
        }

        h3{
          padding-bottom: 1rem;
        }

        ul{
          text-align: start;
          margin-bottom: 2rem;
          gap: 1rem;
        }
      }
    }

    #contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #dbaca3;
      color: #f0e6df;
      width: 100%;
      max-width: 100%;
      height: 50vh;

      h2{
        padding-bottom: 2rem;
      }


      .big-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10rem;


        .writted-container {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .contact-container {
          width: 75%;
          padding-bottom: 1rem;
        }

        .separador-container {
          width: 25rem;
          border: 1px solid #f0e6df;
        }

        .inter-container {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
        }

        button {
          margin-top: 0.2rem;
          border: none;
          background-color: #f0e6df;
          color: #dbaca3;
          border-radius: 10px;
          height: 2rem;
          width: 11rem;
          font-weight: 700;
        }

        button:hover {
          background-color: #e2d5c7;
          transform: scale(1.05);
        }

        button:active {
          transform: scale(0.95);
        }

        a {
          outline: none;
          text-decoration: none;
          color: inherit;
        }

        .atendimento-description {
          font-weight: 500;
        }

        span.name {
          font-size: 20px;
        }

        img {
          width: 24px;
          height: 24px;
        }

        .img-container {
          width: 30%;
          img {
            border: 2px solid #f0e6df;
            border-radius: 15px;
            width: 15rem;
            height: 20rem;
          }
        }

        .divider-main {
          height: 3rem;
          background-color: #f0e6df;
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
