<app-header
  primaryBtnText="Home"
  secondaryBtnText="Sobre"
  tertiaryBtnText="Atendimentos"
  quaternaryBtnText="Terapias"
  quinaryBtnText="Depoimentos"
  serviceAnaliseCorporalBtnText="Análise Corporal"
  serviceHipnoterapiaBtnText="Hipnoterapia"
  serviceTravasMentaisBtnText="Travas Mentais"
  serviceTrgBtnTxt="TRG"
></app-header>
<div id="testimonials" class="cards-depoimentos-section">
  <h2>Depoimentos de quem já transformou a sua vida</h2>
  <div class="cards">

  </div>
</div>
<app-footer></app-footer>
