@use '@angular/material' as mat;

@include mat.core();

$psico-mara-site-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($psico-mara-site-theme);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

html, body {
  height: 100%;
  width: 100%;
  max-width: 100vw;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}
