main {
  width: 100%;
  position: relative;
  z-index: 10;
  padding: 20px;
  height: 7rem;
  box-sizing: border-box;
  background: #dbaca3;

  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #dbaca3;

    div {
      margin-inline: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f0e6df;
      width: 100%;

      div {
        flex-grow: 1;
        height: 2px;
      }
    }
    .text-container {
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      background: #dbaca3;
      margin: 0.5rem;

      a {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-decoration: none;
        color: #f0e6df;

        img {
          height: 25px;
          width: 25px;
          background-color: #dbaca3;
        }
      }
      p {
        color: #f0e6df;
      }
    }
  }
}

@media (min-width: 1120px) {

}


